<!--app-login-component></app-login-component-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<p class="message"><a (click)="back()" >Regresar</a></p>

<div class="login-page">
  <div class="form">
    <form class="login-form" (ngSubmit)="login()">
      <div class="item">
        <input type="email" [(ngModel)]='email' id="email" name="email" required placeholder="username">
      </div>
      <div class="item">
        <input type="password" [(ngModel)]='password' id="password" name="password" required placeholder="password">
      </div>
      <button type="submit" class="iniciar_sesion">Inicia sesion</button>
    </form>
    <p class="message">¿No tienes una cuenta? <a (click)="navigateToRegister()" >Regístrate aquí</a></p>
  </div>
</div>
