<!--ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      HOME
    </ion-title>
  </ion-toolbar>
</ion-header-->
<app-nav-pagr></app-nav-pagr>
<ion-content [fullscreen]="true">

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <h1>historias</h1>
  <ion-content>
    <ion-list>
      <ion-item *ngFor="let comic of resp" (click)="verDetalles($event, comic)">
        <ion-thumbnail slot="start">
          <img [src]="comic.portada" alt="Portada del cómic">
        </ion-thumbnail>
        <ion-label>
          <h2>{{ comic.titulo }}</h2>
          <p>{{comic.comic_id}}</p>
          <p *ngIf="comic.descripcion">{{ comic.descripcion | slice:0:100 }}{{comic.descripcion.length > 100 ? '...' : ''}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-content>

