<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>registrar</ion-title>
  </ion-toolbar>
</ion-header>
<!--app-ejemplo></app-ejemplo-->


<p class="message"><a (click)="back()" >Regresar</a></p>

<div class="login-page">
  <div class="form">
    <form class="form_login" (ngSubmit)="signup()">
      <div class="item">
        <input type="text" [(ngModel)]='name' id="name" name="name" required placeholder="Nombre de usuario">
      </div>
      <div class="item">
        <input type="email" [(ngModel)]='email' id="email" name="email" required placeholder="Correo electrónico">
      </div>
      <div class="item">
        <input type="password" [(ngModel)]='password' id="password" name="password" required placeholder="Contraseña">
      </div>
      <button type="submit">
        Registrate
      </button>
    </form>
    <p class="message">¿Ya tienes cuenta? <a (click)="navigateToLogin()">Inicia sesion</a></p>
  </div>
</div>
